body{
    background-color: #111111;
}
#top{
    text-align: center;
}
#h1{
    text-align: center;
    font-family: "Press Start 2P", "Consolas", sans-serif;
    color: rgba(2, 224, 43, 0.795);
    text-decoration:underline
}
#texto{
    font-family: "Ubuntu", "Consolas", sans-serif;
    font-size: small;
    color: #fff8f0;
    text-align: center;
}
#redes{
    text-align: center;
    font-size: large;
}
#menu{
    text-align: center;
    font-size: larger;
}
a:link{
    text-decoration: none;
    color: #fff8f0;
    font-family: "Ubuntu", "Consolas", sans-serif;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid ;
    border-radius: 5px;
    padding: 5px 8px;
}
a:hover{
    color: rgba(2, 224, 43, 0.795);
}