body{
    background-color: #111111;
}
#tux{
    text-align: center;
    font-size: 1px;
    width: auto ;
}
#h1{
    color:rgba(2, 224, 43, 0.795);
    font-family: "Press Start 2P", "Consolas", sans-serif;
    text-align: center;
    text-decoration: underline;

}
#p1{
    font-family: "Ubuntu", "Consolas", sans-serif;
    text-align: center;
    color: #fff8f0;
}
a:link{
    text-decoration: none;
    color: #fff8f0;
    font-family: "Ubuntu", "Consolas", sans-serif;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid ;
    border-radius: 5px;
    padding: 8px 12px;
}
a:hover{
    color: rgba(2, 224, 43, 0.795);
}
#links{
    text-align: center;
}
#t1{
    text-align: center;
    color: #fff8f0;
}