body{
    background-color: #111111;
}
#tux{
    text-align: center;
    font-size: 1px;
    width: auto ;
}
#h1{
    color:rgba(2, 224, 43, 0.795);
    font-family: "Press Start 2P", "Consolas", sans-serif;
    text-align: center;
    text-decoration: underline;

}
#p1{
    font-family: "Ubuntu", "Consolas", sans-serif;
    text-align: center;
    color: #fff8f0;
}
#links{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgba(2, 224, 43, 0.795);;
    text-align: center;
    font-family: "Ubuntu", Consolas, sans-serif;
    color: #fff8f0;
    font-size: larger;
}