@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Open+Sans:wght@400;500;700&display=swap');

body {
    background-color: #111111;
    color: aliceblue;
    cursor: default;
    font-family: "Heebo";
}

header {
    padding-bottom: 10px;
}

header h1:hover {
    text-decoration: underline 2px aliceblue;
}

a {
    color: rgba(240, 248, 255, 0.562);
}

a:hover {
    transition: 0.3s ease-in-out;
    color: aliceblue;
    text-decoration: underline 1px aliceblue;
}

