@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Open+Sans:wght@400;500;700&display=swap');

body {
    background-color: #111111;
    color: aliceblue;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
}

.Top, h2 {
    cursor: default;
}

footer {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
}

footer h2:hover{
    text-decoration: underline 2px;
}

li a:visited {
    text-decoration: none;
    color: aliceblue;
}

li a:hover {
    transition: 0.3s ease-in-out;
    color: rgba(240, 248, 255, 0.74);
}