@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');

body {
    text-align: center;
    background-color: #111111;
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

footer .rip {
    font-size: 15px;
}