#d1{
    background-color: rgb(156, 154, 154);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
#h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#me{
    background-color: rgb(156, 154, 154);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    justify-content: center;

}
#mt{
    text-align: center;
    font-size: x-large;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
}
#links{
    text-align: center;
}
body{
    background-color: rgb(129, 139, 148);
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}