@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&family=Ubuntu&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-color: #111111;
}
#header h1{
    color: aliceblue;
    text-align: center;
    font-family: "Poppins", "Ubuntu", sans-serif;
    text-decoration: underline #33352f;
}
#header p{
    color: aliceblue;
    font-family: "Ubuntu", "Poppins", sans-serif;
}
#header h2{
    color: aliceblue;
    font-family: "Poppins", "Ubuntu", sans-serif;
}
h2{
    color: aliceblue;
    font-family: "Poppins", "Ubuntu", sans-serif;
}
p{
    color: aliceblue;
    font-family: "Ubuntu", "Poppins", sans-serif;
}
a{
    color: aliceblue;
    font-family: "Poppins", "Ubuntu", sans-serif;
}
table{
    border-collapse: collapse;
    border: 1px #ffffff solid;
    color: aliceblue;
    background: #e6b61c;
    text-align: center;
    font-family: "Ubuntu", "Poppins", sans-serif;
}
th{
    border: 1px #ffffff solid;
    padding: 1px 10px;
}
#tr1{
    border: 1px #ffffff solid;
    padding: 1px 10px;
}
td{
    border: 1px #ffffff solid;
}
#indice{
    color: aliceblue
}