body{
    background-color: #111111;
}
#capa{
    font-family: "Karla", "Roboto", sans-serif;
    text-align: center;
    color: #fff8f0;
}
#t1{
    color: #fff8f0;
    font-family: "Ubuntu", "Roboto", sans-serif;
    text-align: center;
    text-decoration: underline;
}
#p1{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
    text-align: center;
}
#e2{
    color: #fff8f0;
    font-family: "Ubuntu", "Roboto", sans-serif;
    text-align: center;
    text-decoration: underline;
}
#dv1{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
}
#hv2{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
}
#links{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #fff8f0;
    text-align: center;
    font-family: "Ubuntu", Consolas, sans-serif;
    color: #fff8f0;
    font-size: larger;
}
#ss{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
    text-align: center;
    text-decoration: underline;
}
#pp2{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
    text-align: center;
    
}
#his{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;

    text-decoration: underline;
}
#dv111{
    color: #fff8f0;
    font-family: "Karla", "Roboto", sans-serif;
    text-align: center;
}
#disc{
    color: #fff8f0;
    font-family: "Ubuntu", "Roboto", sans-serif;
}